.ffn_layout {
    display: flex;
    width: 500px;
    position: relative;
    top: 0px;
    left: 0px;
    height: 100%;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 40px;
    backface-visibility: hidden;
    will-change: transform;
    -webkit-user-drag: none;
    user-select: none;
    border-radius: 10px;
    perspective: 700px;
  }

  .form {
    font-family: Avenir-LightOblique;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
    color: white;
  }

.btn_remind {
border: 1px solid #9890E3;
border-radius: 89px;
font-family: Avenir-LightOblique;
font-size: 16px;
color: #9890E3;

opacity:1;
text-align:center;
width: 100px;
}

.btn_content {
  display: none;
border: 1px solid #B1F4CF;
border-radius: 89px;
font-family: Avenir-LightOblique;
font-size: 16px;
opacity:1;

color:#B1F4CF;
width: 100px;
text-align:center;
}

.btn_date {
  display: none;
border: 1px solid #FDDB92;
border-radius: 89px;
font-family: Avenir-LightOblique;
font-size: 16px;
color:#FDDB92;
width: 100px;
text-align:center;
opacity:1;

}

.btn_submit {
  display: none;
border: 1px solid #22b2bb;
border-radius: 89px;
font-family: Avenir-LightOblique;
font-size: 16px;
color:#22b2bb;
width: 80px;
text-align:center;
opacity:1;

}

.btn_list {
border: 1px solid #FEADA6;
border-radius: 89px;
font-family: Avenir-LightOblique;
font-size: 16px;
border-color: #FEADA6;
color:#FEADA6;
width: 250px;
text-align:center;
opacity:1;
float: none;
margin: 0 auto;
}


.btn_done {
display: none;
border: 2px solid #63D53F;
border-radius: 89px;
font-family: Avenir-LightOblique;
font-size: 16px;
border-color: #63D53F;
color:#63D53F;
width: 250px;
text-align:center;
opacity:1;
float: none;
margin: 0 auto;

}

body {
  background-color: #2F2F2F;
}


table {

  width: 90%;
  margin-left: auto;
  margin-right: auto;
}


/*settings*/

label.btn span {
  font-size: 1.5em ;
}

label input[type="radio"] ~ i.fa.fa-circle-o{
    color: #c8c8c8;    display: inline;
}
label input[type="radio"] ~ i.fa.fa-dot-circle-o{
    display: none;
}
label input[type="radio"]:checked ~ i.fa.fa-circle-o{
    display: none;
}
label input[type="radio"]:checked ~ i.fa.fa-dot-circle-o{
    color: #7AA3CC;    display: inline;
}
label:hover input[type="radio"] ~ i.fa {
color: #7AA3CC;
}

label input[type="checkbox"] ~ i.fa.fa-square-o{
    color: #c8c8c8;    display: inline;
}
label input[type="checkbox"] ~ i.fa.fa-check-square-o{
    display: none;
}
label input[type="checkbox"]:checked ~ i.fa.fa-square-o{
    display: none;
}
label input[type="checkbox"]:checked ~ i.fa.fa-check-square-o{
    color: #7AA3CC;    display: inline;
}
label:hover input[type="checkbox"] ~ i.fa {
color: #7AA3CC;
}

div[data-toggle="buttons"] label.active{
    color: #7AA3CC;
}

div[data-toggle="buttons"] label {
display: inline-block;
padding: 6px 12px;
margin-bottom: 0;
font-size: 14px;
font-weight: normal;
line-height: 2em;
text-align: left;
white-space: nowrap;
vertical-align: top;
cursor: pointer;
background-color: none;
border: 0px solid
#c8c8c8;
border-radius: 3px;
color: #c8c8c8;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
-o-user-select: none;
user-select: none;
}

div[data-toggle="buttons"] label:hover {
color: #7AA3CC;
}

div[data-toggle="buttons"] label:active, div[data-toggle="buttons"] label.active {
-webkit-box-shadow: none;
box-shadow: none;
}




@import "compass/css3";

/* Setting things up */
body {
  padding: .5em;
  background-color: #2F2F2F;
  margin-top: -6px;
  padding-left: 0px;
}
a {
  text-decoration: none;
  color: #fff;
}

/* Important stuff */

nav {
  position: relative;
}
.dropdown-toggle {
  padding: .5em;
  background: #2F2F2F;
  border-radius: .2em .2em 0 0;
}
ul.dropdown {
  color: #979797;
  display:none;
  position: absolute;
  top: 100%;
  margin-top: .5em;
  background: #2F2F2F;
  min-width: 12em;
  padding: 0 2em;
  border-radius: 0 0 .2em .2em;
    li {
      list-style-type: none;
      a {
        text-decoration: none;
        padding: .5em 1em;
        display: block;
      }
   }
}
