.ffn_layout {
    display: flex;
    width: 500px;
    position: relative;
    top: 0px;
    left: 0px;
    height: 100%;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 40px;
    backface-visibility: hidden;
    will-change: transform;
    -webkit-user-drag: none;
    user-select: none;
    border-radius: 10px;
    perspective: 700px;
  }

  .form {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
    color: white;
  }

.btn_remind {
border: 1px solid #9890E3;
border-radius: 89px;
font-family: Avenir-LightOblique;
font-size: 16px;
color: #9890E3;
border-color: #9890E3;
opacity:1;
text-align:center;
width: 100px;
}

.btn_content {
border: 1px solid #B1F4CF;
border-radius: 89px;
font-family: Avenir-LightOblique;
font-size: 16px;
opacity:1;
border-color: #B1F4CF;
color:#B1F4CF;
width: 100px;
text-align:center;
}

.btn_date {
border: 1px solid #FDDB92;
border-radius: 89px;
font-family: Avenir-LightOblique;
font-size: 16px;
border-color: #FDDB92;
color:#FDDB92;
width: 100px;
text-align:center;
opacity:1;

}

.btn_list {
border: 1px solid #FEADA6;
border-radius: 89px;
font-family: Avenir-LightOblique;
font-size: 16px;
border-color: #FEADA6;
color:#FEADA6;
width: 250px;
text-align:center;
opacity:1;
float: none;
margin: 0 auto;
}

table {
      width: 90%;
    margin-left: auto;
    margin-right: auto;
}

@import "compass/css3";

/* Setting things up */
body {
  padding: .5em;
  background-color: #2F2F2F;
}
a {
  text-decoration: none;
  color: #fff;
}

/* Important stuff */

nav {
  position: relative;
}
.dropdown-toggle {
  padding: .5em;
  background: #2F2F2F;
  border-radius: .2em .2em 0 0;
}
ul.dropdown {
  color: #979797;
  display:none;
  position: absolute;
  top: 100%;
  margin-top: .5em;
  background: #2F2F2F;
  min-width: 12em;
  padding: 0 2em;
  border-radius: 0 0 .2em .2em;
    li {
      list-style-type: none;
      a {
        text-decoration: none;
        padding: .5em 1em;
        display: block;
      }
   }
}
